#cargo-features = ["strip"]

[package]
name = "fmd"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
tree_magic = "*"
fuzzyhash = "*"
serde = { version = "*", features = ["derive"] }
serde_json = "*"

[profile.release]
lto = true
panic = 'abort'
opt-level = "s"
debug = false
rpath = false
debug-assertions = false
codegen-units = 1
#strip = "symbols"